body {
    background-color: #ffffff;
}

div#loader {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2;
    overflow: auto;
}